[submodule "packages/llm-base/xformers"]
	path = packages/llm-base/xformers
	url = https://github.com/jasl/xformers.git
[submodule "packages/llm-base/triton"]
	path = packages/llm-base/triton
	url = https://github.com/triton-lang/triton.git
[submodule "packages/llm-base/transformers"]
	path = packages/llm-base/transformers
	url = https://github.com/huggingface/transformers.git
[submodule "packages/llm-base/flashinfer"]
	path = packages/llm-base/flashinfer
	url = https://github.com/flashinfer-ai/flashinfer.git
[submodule "packages/llm-base/flash-attention"]
	path = packages/llm-base/flash-attention
	url = https://github.com/Dao-AILab/flash-attention.git
